/* Цвета */
:root {
    --main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --primary-color: #3b3c8d;
    ---border-bottom-colors: #6064b2V;
    --secondary-color: #4c50a1;
    --accent-color: #ff5b5b;
    --background-color: #ffffff;
    --text-color: #252525;
    --light-background: #ffffff;
    --border-color:#afafaf ;
}

/* Общие стили */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font), serif;
}

body {
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

/* Настройки для адаптивности */
@media (max-width: 768px) {
    /* Стили для мобильной версии */
}

@media (max-width: 480px) {
    /* Дополнительные стили для очень маленьких экранов */
}
