{% load static %}

{% block event %}
    <div class="simple">
        <!--<div class="simple">-->
        <div class="container swiper">
            <div class="card-wrapper">
                <div class="cardx">  
                <p>{{ site_settings.block2_name }}</p>
                    <a href="#"> показать все</a>
                </div>
            
                <ul class="card-list swiper-wrapper">
                    {% for event in events %}

                        <li class="card-item swiper-slide">
                            <a href="#" class="card-link">
                                <img src="{{ event.image.url }}" alt=""
                                     class="card-image">
                                <p class="badge">{{ event.title }}</p>
                                <h2 class="card-title">
                                    {{ event.title }}
                                    <p></p>
                                  

                                </h2>
                         <button class=" card-button ">
                                      <p>подробнее</p>  
                                    </button>
                            </a>
                        </li>

                    {% endfor %}
                </ul>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>

{% endblock %}