{% block header %}
<header class="ds">
    <div class="logo">{{ site_settings.site_name }}</div>
    <nav>
        <ul>
            {% with request.path as current_path %}
                <li>
                    <a href="{% url 'home' %}" class="{% if current_path == home_url %}--current{% endif %}">Главная</a>
                </li>
                <li>
                    <a href="{% url 'specialists' %}" class="{% if current_path == specialists_url %}--current{% endif %}">Специалистам</a>
                </li>
                <li>
                    <a href="{% url 'organizations' %}" class="{% if current_path == organizations_url %}--current{% endif %}">Организациям</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">База</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'reference_materials' %}" class="{% if current_path == reference_materials_url %}--current{% endif %}">Для аккредитации</a>
                        </li>
                        <li>
                            <a href="{% url 'legal_framework' %}" class="{% if current_path == legal_framework_url %}--current{% endif %}">Нормативно-правовая база</a>
                        </li>
                        <li>
                            <a href="{% url 'orgia' %}" class="{% if current_path == orgia_url %}--current{% endif %}">Организация медицинской профилактики</a>
                        </li>
                    </ul>
                </li>
            {% endwith %}
        </ul>
    </nav>
    <div class="auth">
        <a href="{% url 'admin:index' %}" class="register btn btn-success">Вход</a>
    </div>
</header>
{% endblock %}
