{% load static %}
<html lang="ru" style="width: 100%">
{% include 'head.html' %}
<body>
<!-- Header -->
{% include 'header.html' %}
<!-- Main Section -->
<section class="main-section d-flex text-center">
    <div class="text-content">
        <h1>{{ site_settings.main_title|safe }}</h1>
        <p class="lead">{{ site_settings.subtitle|safe }}</p>
    </div>
    <div class="grid-container">
        <a href="#" class="grid-item flip-card">
            <form class="flip-card-inner">
                <div class="flip-card-back top-left">События</div>
                <div class="flip-card-front top-left">
                    <img src="/static/icons/События.png" alt="Image 1">
                </div>
            </form>
        </a>
        <a href="{% url 'reference_materials' %}" class="grid-item flip-card">
            <form class="flip-card-inner">
                <div class="flip-card-back">Для аккредитации</div>
                <div class="flip-card-front bg-gray">
                    <img src="/static/icons/Проекты.png" alt="Image 1">
                </div>
            </form>
        </a>
        <a href="{% url 'organizations' %}" class="grid-item flip-card">
            <form class="flip-card-inner">
                <div class="flip-card-back">Организациям</div>
                <div class="flip-card-front bg-gray">
                    <img src="/static/icons/Организациям.png"
                         alt="Image 1">
                </div>
            </form>
        </a>

        <a href="{% url 'specialists' %}" class="grid-item flip-card">
            <form class="flip-card-inner">
                <div class="flip-card-back bottom-right">Специалистам</div>
                <div class="flip-card-front bottom-right">
                    <img src="/static/icons/Специалистам.png"
                         alt="Image 1">
                </div>
            </form>
        </a>
    </div>


    <!-- Повторить для остальных блоков -->

</section>
<section style="margin-top: 100vh">
    {#    {% include 'carusel.html' %}#}
    {#    <hr>#}
    {% include 'news.html' %}
    <hr>
    {% include 'carusel.html' %}
    <hr>
    {% include 'event.html' %}
    <hr>

</section>

{% include 'footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="{% static 'carusel.js' %}"></script>
</body>
</html>